# Python for beginners

## Written by Huei-Wen Teng 
Modified on Sep 22, 2024.

This is a simple start! $\frac{1}{2}$

Organized by Huei-Wen Teng (last updated 2021/9/26)

In [1]:
print('Hello, world!')

Hello, world!

In [2]:
print(3.14156)

3.14156

In [3]:
print('My age is ', 18)

My age is  18

### Variables and Data Types

#### Variable assignment

In [19]:
x = 5

In [5]:
x + 2 # Sum of two variables

7

In [6]:
x-2 # Subtraction of two vriables

3

In [7]:
x*2 # Multiplication of two variables

10

In [8]:
x**2 # Exponentiaition of a varialbe

25

In [9]:
x%2 # Reminder of a variable

1

In [10]:
x/float(2) # Devision of a variable

2.5

In [11]:
x/2

2.5

In [12]:
x**3.2

172.4662076826519

#### Types and Type Conversion

In [14]:
a1 = '5' # Strings
a2 = '3.45'
a3 = 'True'

In [5]:
print(type(a1)) # Find the type of a variable
print(type(x))

NameError: name 'a1' is not defined

In [21]:
b = int(a1) # Varialbes to integers

In [22]:
type(b)

int

In [23]:
float(a2) # Varialbes to floats

3.45

In [24]:
bool(a3) # Variables to boolean

True

In [25]:
d1 = True # Variables to booleans
type(d1)

bool

### Strings

In [26]:
my_string = 'thisStringIsAwesome'
my_string

'thisStringIsAwesome'

#### String operations

In [27]:
my_string*2

'thisStringIsAwesomethisStringIsAwesome'

In [28]:
my_string+'Innit'

'thisStringIsAwesomeInnit'

In [22]:
'm' in my_string

True

In [23]:
'z' in my_string

False

In [24]:
my_string[3]

's'

In [25]:
my_string[4:9]

'Strin'

#### String Methods

In [26]:
my_string.upper() # String to uppercase

'THISSTRINGISAWESOME'

In [27]:
my_string.lower() # String to lowercase

'thisstringisawesome'

In [28]:
my_string.count('w') # Count string elements

1

In [29]:
my_string.replace('e','i') # Replace String Elements

'thisStringIsAwisomi'

In [30]:
my_string.strip()    # Strip white space

'thisStringIsAwesome'

In [34]:
my_string = "   Hello, World!   "
print(my_string)
stripped_string = my_string.strip()
print(stripped_string)

   Hello, World!
Hello, World!

## List

List uses [] for definition. 
It's values can be changed. (In contrast, values in a tuple can not be changed.)

In [47]:
a = 'is'
b = 'nice'
my_list =['my', 'list', a, b] # 1D list
my_list2 = [[4,5,6,7], [3,4,5,6]] # 2Dlist
my_list3= ['a', 3.24]
my_list3

['a', 3.24]

In [48]:
my_list

['my', 'list', 'is', 'nice']

In [49]:
my_list2

[[4, 5, 6, 7], [3, 4, 5, 6]]

In [40]:
my_list = [1, 2, 3]
type(my_list)

list

### Tuple

In Python, there are no matrix object, but there are three types of objects: tuple, list, dictionary

#### Tuple
Tuple is similar to list, but its values can not be changed

In [6]:
x = (1, 2, 3) # 1D tuple
print(x)
y = ((1,2),(3,4),(5,6)) # 2D tuple
print(y)

(1, 2, 3)
((1, 2), (3, 4), (5, 6))

In [38]:
x

(1, 2, 3)

In [33]:
type(x)

tuple

In [41]:
x[2]

3

In [7]:
x[2] = 3 # ! You can not change the value of a tuple

TypeError: 'tuple' object does not support item assignment

In [36]:
y[0] # Selecting a value in a tuple

(1, 2)

In [37]:
y[0][0]

1

In [38]:
x

(1, 2, 3)

In [39]:
y

((1, 2), (3, 4), (5, 6))

In [40]:
x + y # Tuple addition

(1, 2, 3, (1, 2), (3, 4), (5, 6))

In [41]:
x*3 # Tuple multiplication

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [43]:
x = (1, 2, 3)
y = (7, 8, 9)
x<y # The first value would be compared

True

In [43]:
max(x) # Tuple can use funcitons

3

In [44]:
min(x) # Tuple can use funcitons

1

### For loop

In [44]:
x

(1, 2, 3)

In [45]:
# A for loop
for i in x:
    print(i)

print('Hello!');

1
2
3
Hello!

### Selecting list elements

#### Suset

In [50]:
my_list[1] # Select item at index 1

'list'

In [51]:
my_list[-3] # Select 3rd last item

'list'

#### Slice

In [49]:
my_list

['my', 'list', 'is', 'nice']

In [53]:
my_list[1:3] # Select items at index 1 and 2

['list', 'is']

In [54]:
my_list[1:] # Select items after index 0

['list', 'is', 'nice']

In [55]:
my_list[:3]  # Select items before index 3

['my', 'list', 'is']

In [56]:
my_list[:] # Copy my list

['my', 'list', 'is', 'nice']

#### Subset lists of lists

In [50]:
my_list2

[[4, 5, 6, 7], [3, 4, 5, 6]]

In [58]:
my_list2[0]

[4, 5, 6, 7]

In [59]:
my_list2[1][2:3] # mylist[list][itemOfList]

[5]

In [60]:
my_list2[1][:2]

[3, 4]

### List operations

In [52]:
print(my_list)
print(my_list3)

['my', 'list', 'is', 'nice']
['a', 3.24]

In [61]:
my_list + my_list3

['my', 'list', 'is', 'nice', 'a', 3.24]

In [53]:
my_list*3

['my',
 'list',
 'is',
 'nice',
 'my',
 'list',
 'is',
 'nice',
 'my',
 'list',
 'is',
 'nice']

In [63]:
my_list

['my', 'list', 'is', 'nice']

In [64]:
my_list= my_list+my_list+my_list3

In [65]:
my_list

['my', 'list', 'is', 'nice', 'my', 'list', 'is', 'nice', 'a', 3.24]

### List Methods

In [54]:
b= 'happy'

In [55]:
my_list.index('list') # Get the index of an item

1

In [72]:
c = 'is'
my_list.index(c)

2

In [56]:
a

'is'

In [74]:
my_list.count(a) # Count an item

2

In [75]:
my_list.append('!') # Append an item at a time
my_list

['my', 'list', 'is', 'nice', 'my', 'list', 'is', 'nice', 'a', 3.24, '!']

### The difference between append() and extend()
- Python append() method adds an element to a list
- and the extend() method concatenates the first list with another list (or another iterable).

In [76]:
x = ['1', '2']
y = ['3', '4']
x.append(y)
x

['1', '2', ['3', '4']]

In [77]:
x = ['1', '2']

In [78]:
x.extend(y)
x

['1', '2', '3', '4']

In [79]:
my_list.remove('!') # Remove an item
my_list

['my', 'list', 'is', 'nice', 'my', 'list', 'is', 'nice', 'a', 3.24]

In [80]:
my_list.remove('is')
my_list

['my', 'list', 'nice', 'my', 'list', 'is', 'nice', 'a', 3.24]

In [81]:
# del(my_list[0:1])   # Remove an item
# my_list

In [82]:
my_list.reverse() # Reverse the list
my_list

[3.24, 'a', 'nice', 'is', 'list', 'my', 'nice', 'list', 'my']

In [83]:
my_list.extend('!') # Append an item
my_list

[3.24, 'a', 'nice', 'is', 'list', 'my', 'nice', 'list', 'my', '!']

In [84]:
my_list.pop(-1) # Remove an item
my_list

[3.24, 'a', 'nice', 'is', 'list', 'my', 'nice', 'list', 'my']

In [85]:
my_list

[3.24, 'a', 'nice', 'is', 'list', 'my', 'nice', 'list', 'my']

In [86]:
my_list.insert(0,'!')  # Insert an item
my_list

['!', 3.24, 'a', 'nice', 'is', 'list', 'my', 'nice', 'list', 'my']

In [58]:
my_list.insert(1,'hello')  # Insert an item
my_list

['is', 'hello', 'list', 'my', 'nice']

In [60]:
my_list.sort()  # Sort the list
my_list

['hello', 'is', 'list', 'my', 'nice']

In [64]:
x = [1, 3, 5, -2];
x.sort()
x

[-2, 1, 3, 5]

In [62]:
x = ['a', '-2', 'hello', 'NYCU is GREAT!']; # a list of strings can be sorted. (Althought I did not know the rule yet.)
x.sort()
x

['-2', 'NYCU is GREAT!', 'a', 'hello']

In [65]:
# For loop
x = [1, 2, 3, 4, 5, 6, 7]
sum = 0
for i in x:
    sum+=i

sum

28

In [66]:
x

[1, 2, 3, 4, 5, 6, 7]

In [67]:
x[2] =-10

In [68]:
x

[1, 2, -10, 4, 5, 6, 7]

### Dictionary
A dictionary is an object that uses {} for definition.

In [74]:
x = {'one': 123, 'two': 345, 'three': 567, 'four': 131} # Index: 'one', 'two', 'three'
x

{'one': 123, 'two': 345, 'three': 567, 'four': 131}

In [95]:
type(x)

dict

In [96]:
# del x # This helps to delete the variable x

In [97]:
x['one'] # We use index to select value

123

In [98]:
len(x) # Returns the length of the index

4

### Warnings: 
* In python, copy.() is an important function. 
* If you use y = x,  when x changes, y chages accordingly. 
* If you use y = x.copy(), when x changes, y remains the same.

In [75]:
y = x.copy() # Use this function to copy the same objsect

In [76]:
y

{'one': 123, 'two': 345, 'three': 567, 'four': 131}

In [77]:
z = x
z

{'one': 123, 'two': 345, 'three': 567, 'four': 131}

In [78]:
x

{'one': 123, 'two': 345, 'three': 567, 'four': 131}

In [79]:
x['one' ] = 100
x

{'one': 100, 'two': 345, 'three': 567, 'four': 131}

In [80]:
z # z changes with x.

{'one': 100, 'two': 345, 'three': 567, 'four': 131}

In [81]:
y # The values of y do not change

{'one': 123, 'two': 345, 'three': 567, 'four': 131}

In [106]:
# x.clear # To clear this object

In [82]:
x.items() # Changes a dictionary object int o a list object # Details unclear?

dict_items([('one', 100), ('two', 345), ('three', 567), ('four', 131)])

In [83]:
x.keys() # Select all the keys in a dictionary object

dict_keys(['one', 'two', 'three', 'four'])

### If

In [9]:
# Example 1
x = -3
if x == 10:
    x +=10
else: 
    x=10

x

10

In [10]:
# Example 2
x = 20
if x == 20:
    x+=10
elif x == 10:
    x-=10
x

30

### For loop

In [111]:
# Example 1
for i in 1, 2, 3, 4:
    print("No.", i)

No. 1
No. 2
No. 3
No. 4

In [112]:
# Example 2
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in x:
    print("No. ", i)

No.  1
No.  2
No.  3
No.  4
No.  5
No.  6
No.  7
No.  8
No.  9
No.  10

In [86]:
# Example 3
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x[::5] # Select items by 5 steps

[1, 6]

In [87]:
x[::3]

[1, 4, 7, 10]

In [88]:
for i in x[::2]:
    print("No. ", i)

No.  1
No.  3
No.  5
No.  7
No.  9

### while loop

#### Many details not written 
- break: jump out of the loop
- continue: jump out of the loop and run the next iteration
- pass:

In [89]:
# Example 1
x = 0
while x<10:
    x+=1
    if x ==5:
     continue
    print(x)

1
2
3
4
6
7
8
9
10

### function

In [116]:
# Example 1
def printHello():
    print("Hello!")
    
print("NYCU is a great unversity!")
print("I love python!")

NYCU is a great unversity!
I love python!

In [117]:
printHello()

Hello!

### a function with input arguments

In [118]:
def mySum(x,y):
    output = x+y
    return output

In [119]:
mySum(3,2)

5

Note: 
1. 建立函式庫: We can collect all functions in a file 'myfunction.py' and use import to apply those functions. (I am not sure how to use jupyter notebook to build a 函式庫.)
2. Class: 類別 (Skip this semester!)